h1{
    color: darkred;
    text-align: start;
    margin-top:40px;
    margin-left:100px;
    margin-bottom:25px;
}
.card{
    width: 18rem;
    margin-left:100px;
}

button{
   margin-left: 10px;
   margin-right:10px;
}
li{
    list-style-type: none;       
}
