h1{
    color: darkred;
    text-align: start;
    margin-left:100px;
    margin-bottom:25px;
}

.card{
    width: 18rem;
    margin-left:100px;
}

button{
   margin-left: 10px;
   margin-right:10px;
}

ul{
    
    
}

li{
    list-style-type: none;    
    width:auto;
    margin-right:10px;    
}

#cardSize{
    
}